/* Desktop View Port */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* --NavBar-- */

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.fa-file-alt:before {
    content: "\f15c";
    font-size: 3rem;
    padding-left: 50%;
}

a.nav-link {
    margin-left: 12rem;
    font-size: 1.7rem;
    color: #EEEADE !important;
    opacity: 0.5;
}

a.nav-link:hover {
    opacity: 1;
}


/* a:hover {
    color: #FFFFFF !important;
} */

.navbar-brand {
    opacity: 0.75 !important;
}

.navbar-brand :hover {
    opacity: 1 !important;
    color: #FFFFFF !important;
}


/* --End of NavBar-- */


/* --Home Page-- */

.mainHeading {
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    margin-top: 40%;
    margin-left: 2rem;
    color: #171717;
    white-space: nowrap;
}

.mainHeading:hover {
    color: #000000;
}

.HomeContainer {
    padding-bottom: 18%;
}

.notes {
    color: #000000;
    background-color: #808080;
    border: 1px solid #000000;
    border-radius: 10px;
}

.notes:hover {
    background-color: #000000;
    color: #FFFFFF;
}

img.HomeImage {
    margin-top: 20%;
    margin-left: 10%;
}

.sIcon1 .fa-twitter {
    position: relative;
    left: 200px;
    top: 50px;
    border: 2px solid #000000;
    padding: 1%;
    border-radius: 10px;
}

.sIcon1 .fa-twitter:hover {
    position: relative;
    left: 200px;
    top: 50px;
    background-color: #171717;
    color: #ffffff !important;
}

.sIcon2 .fa-github {
    position: relative;
    left: 130px;
    top: 150px;
    border: 2px solid #000000;
    padding: 1%;
    border-radius: 10px;
}

.sIcon2 .fa-github:hover {
    position: relative;
    left: 130px;
    top: 150px;
    background-color: #171717;
    color: #ffffff !important;
}

.sIcon3 .fa-instagram {
    position: relative;
    top: 250px;
    left: 65px;
    border: 2px solid #000000;
    padding: 1%;
    border-radius: 10px;
}

.sIcon3 .fa-instagram:hover {
    position: relative;
    top: 250px;
    left: 65px;
    background-color: #171717;
    color: #ffffff !important;
}

.sIcon4 .fa-linkedin-in {
    position: relative;
    top: 350px;
    left: 4px;
    border: 2px solid #000000;
    padding: 1%;
    border-radius: 10px;
}

.sIcon4 .fa-linkedin-in:hover {
    position: relative;
    top: 350px;
    left: 4px;
    background-color: #171717;
    color: #ffffff !important;
}


/* --End Of Home Page --*/


/* --Scroll Bar-- */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
    background-clip: content-box;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #171717;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #171717;
}


/* --End Of Scroll Bar-- */


/* --Notes Section-- */

.notesCards {
    text-align: center;
    background-color: #171717;
}

.card {
    background-color: #808080;
    margin: 3%;
    border: 1px solid #000000 !important;
    border-radius: 25px;
}

.card-title {
    padding: 3%;
    color: #FFFFFF;
    border-bottom: 3px solid #000000 !important;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

.notesBtn1 .btn {
    padding: 3% 8%;
    margin: 3%;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.notesBtn2 .btn {
    padding: 3% 6%;
    margin: 3%;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

span.notesHead {
    background-color: #414A4C;
    border-radius: 10px;
}


/* --End of Notes Section-- */


/* --Footer Section-- */

.footer {
    padding: 2%;
}

.copyRight {
    margin-top: 1%;
    text-align: center;
    font-size: 18px;
}

.socialIcons1 {
    text-align: center;
    margin-left: 35%;
    color: #414A4C;
}

.socialIcons1:hover {
    color: #000000;
}

.socialIcons {
    margin-left: 5%;
    color: #414A4C;
}

.socialIcons:hover {
    color: #000000;
}


/* --End of Footer Section-- */


/* --Mobile View Port -- */

@media only screen and (min-width: 200px) and (max-width: 767px) {
    /* --NavBar-- */
    a.nav-link {
        margin-left: 8rem;
        padding: 7%;
        font-size: 3rem;
        opacity: 0.5;
    }
    a.nav-link:hover {
        opacity: 1;
    }
    .navbar-nav {
        padding-bottom: 13rem;
        background-image: url("images/book_doodle.png");
        background-color: #171717;
        width: 103%;
    }
    /* --End Of NavBar-- */
    /* --Home Page-- */
    .mainHeading {
        font-size: 4rem;
        text-align: center;
        white-space: normal;
    }
    img.HomeImage {
        margin-top: 2%;
    }
    /* --End Of Home Page-- */
    /* --Notes Section-- */
    /* --End Of Notes Section-- */
    /* --conatact section-- */
    .copyRight {
        font-size: 16px;
    }
    .socialIcons1 {
        text-align: center;
        margin-left: 23%;
    }
    .socialIcons {
        margin-left: 5%;
    }
    /* --end of contact-- */
}