/* Desktop View Port */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    perspective: 500px;
}


/* --NavBar-- */

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.fa-file-alt:before {
    content: "\f15c";
    font-size: 3rem;
    padding-left: 50%;
}

a.nav-link {
    margin-left: 12rem;
    font-size: 2rem;
    color: #4449a3 !important;
    opacity: 0.5;
    font-family: 'Ubuntu', sans-serif;
    /* border-bottom: 3px solid #ffffff; */
    /* border-bottom-width: 0; */
    /* transition-property: translate();
    transition-duration: 10s; */
    /* transition-delay: 2s; */
}

a.nav-link:hover {
    opacity: 1;
    /* transform: translate(0, -50px);
    transition-timing-function: ease; */
}


/* a:hover {
    color: #FFFFFF !important;
} */

.navbar-brand {
    opacity: 0.75 !important;
}

.navbar-brand :hover {
    opacity: 1 !important;
    color: #FFFFFF !important;
}


/* --End of NavBar-- */


/* --Home Page-- */

.mainHeading {
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    margin-top: 40%;
    margin-left: 2rem;
    /* color: #171717; */
    /*change-1*/
    color: #4449a3;
    white-space: nowrap;
    transition: transform 1s;
}

.mainHeading:hover {
    /* color: #000000; */
    /*change-2*/
    color: #2c32d1;
    transform: rotate(360deg);
}

.HomeContainer {
    padding-bottom: 18%;
    /* change-3 */
    background-color: #171717;
}

.notes {
    color: #FFFFFF;
    background-color: #4449a3;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.notes:hover {
    background-color: #1F1F1F;
    color: #4449a3;
}

img.HomeImage {
    margin-top: 20%;
    margin-left: 10%;
}

.sIcon1 .fa-twitter {
    position: relative;
    left: 200px;
    top: 50px;
    border: 2px solid #2c32d1;
    padding: 1%;
    border-radius: 10px;
    transition-property: translate();
    transition-duration: 0.5s;
}

.sIcon1 .fa-twitter:hover {
    position: relative;
    left: 200px;
    top: 50px;
    background-color: #171717;
    color: #4449a3 !important;
    transform: translate(-50px, 0);
    transition-timing-function: linear;
}

.sIcon2 .fa-github {
    position: relative;
    left: 130px;
    top: 150px;
    border: 2px solid #2c32d1;
    padding: 1%;
    border-radius: 10px;
    transition-property: translate();
    transition-duration: 0.5s;
}

.sIcon2 .fa-github:hover {
    position: relative;
    left: 130px;
    top: 150px;
    background-color: #171717;
    color: #4449a3 !important;
    transform: translate(50px, 0);
    transition-timing-function: linear;
}

.sIcon3 .fa-instagram {
    position: relative;
    top: 250px;
    left: 65px;
    border: 2px solid #2c32d1;
    padding: 1%;
    border-radius: 10px;
    transition-property: translate();
    transition-duration: 0.5s;
}

.sIcon3 .fa-instagram:hover {
    position: relative;
    top: 250px;
    left: 65px;
    background-color: #171717;
    color: #4449a3 !important;
    transform: translate(-50px, 0);
    transition-timing-function: linear;
}

.sIcon4 .fa-linkedin-in {
    position: relative;
    top: 350px;
    border: 2px solid #2c32d1;
    padding: 1%;
    border-radius: 10px;
    transition-property: translate();
    transition-duration: 0.5s;
}

.sIcon4 .fa-linkedin-in:hover {
    position: relative;
    top: 350px;
    left: 4px;
    background-color: #171717;
    color: #4449a3 !important;
    transform: translate(50px, 0);
    transition-timing-function: linear;
}


/* --End Of Home Page --*/


/* --Scroll Bar-- */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
    background-clip: content-box;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #171717;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #171717;
}


/* --End Of Scroll Bar-- */


/* --Notes Section-- */

.notesCards {
    text-align: center;
    /* background-color: #171717; */
    /*change-4*/
    background-color: #2c32d1;
}

.card {
    /* background-color: #808080; */
    /*change-5*/
    background-color: #171717;
    margin: 3%;
    border: 1px solid #000000 !important;
    border-radius: 25px;
}

.card1 {
    transition: transform 2s;
}

.card1:hover {
    transform: rotate(4deg);
}

.card2 {
    transition: transform 2s;
}

.card2:hover {
    transform: rotate(-4deg);
}

.card-title {
    padding: 3%;
    color: #FFFFFF;
    border-bottom: 3px solid #000000 !important;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

.notesBtn1 .btn {
    padding: 3% 8%;
    margin: 3%;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.notesBtn2 .btn {
    padding: 3% 6%;
    margin: 3%;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

span.notesHead {
    background-color: #414A4C;
    border-radius: 10px;
}


/** btn test **/

a.btn.btn-outline-dark {
    transition: transform 1s;
    border: 1px solid #4449a3;
    color: #4449a3;
}

a.btn.btn-outline-dark:hover {
    transform: scale(1.2);
}

a.btn.btn-outline-light {
    transition: transform 1s;
}

a.btn.btn-outline-light:hover {
    transform: scale(1.2);
    background-color: #4449a3;
}


/** end of btn test **/


/* --End of Notes Section-- */


/* --Footer Section-- */

.footer {
    padding: 2%;
    background-color: #171717;
}

.copyRight {
    margin-top: 1%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.socialIcons1 {
    text-align: center;
    margin-left: 35%;
    color: #414A4C;
}

.socialIcons1:hover {
    color: #2c32d1;
}

.socialIcons {
    margin-left: 5%;
    color: #414A4C;
}

.socialIcons:hover {
    color: #2c32d1;
}


/********** SPECIAL ICON TEST *******************/


/* .footer {
    padding: 2%;
    display: flex;
    justify-content: center;
}

.icon {
    width: 90px;
    height: 90px;
    background-color: #f1f1f1;
    padding-left: 100px;
    margin: 10px;
    border-radius: 30%;
    color: #171717;
}

.copyRight {
    margin-top: 1%;
    text-align: center;
    font-size: 18px;
}

.socialIcons1 {
    text-align: center;
    margin-left: 35%;
    color: #414A4C;
}

.socialIcons1:hover {
    color: #000000;
}

.socialIcons {
    margin-left: 5%;
    color: #414A4C;
}

.socialIcons:hover {
    color: #000000;
} */


/********** END OF SPECIAL ICON TEST ************/


/* --End of Footer Section-- */


/* --Mobile View Port -- */

@media only screen and (min-width: 200px) and (max-width: 767px) {
    /* --NavBar-- */
    a.nav-link {
        margin-left: 7rem;
        padding: 7%;
        font-size: 2.5rem;
        opacity: 0.5;
    }
    a.nav-link:hover {
        opacity: 1;
    }
    .navbar-nav {
        padding-bottom: 13rem;
        /* background-image: url("images/book_doodle.png"); */
        background-color: #171717;
        width: 103%;
    }
    /* --End Of NavBar-- */
    /* --Home Page-- */
    .mainHeading {
        font-size: 3.5rem;
        text-align: center;
        white-space: normal;
    }
    img.HomeImage {
        margin-top: 2%;
    }
    .sIcon1 .fa-twitter {
        visibility: hidden;
    }
    .sIcon2 .fa-github {
        visibility: hidden;
    }
    .sIcon3 .fa-instagram {
        visibility: hidden;
    }
    .sIcon4 .fa-linkedin-in {
        visibility: hidden;
    }
    /* --End Of Home Page-- */
    /* --Notes Section-- */
    /* --End Of Notes Section-- */
    /* --conatact section-- */
    .copyRight {
        font-size: 12px;
    }
    .socialIcons1 {
        text-align: center;
        margin-left: 23%;
    }
    .socialIcons {
        margin-left: 5%;
    }
    /* --end of contact-- */
}